<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This  is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cumque a nostrum vel dolorem voluptatem, id nesciunt. Nemo adipisci consequuntur, inventore, excepturi iste pariatur corrupti sit eligendi velit dolorem eveniet.</p>
    <button>click me!</button>
</body>
</html>