<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Hello Welcome to my page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia quod delectus quam illum porro vel ea assumenda inventore harum necessitatibus commodi, quasi praesentium, placeat quas unde repellat mollitia dolorum modi!
    </p>
    <button>Click me</button><br>
    <%= 2+2 %>
    <!-- calculate 2+2 -->
     <script src="/javascripts/script.js"></script>
</body>
</html>